
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
<title>文档</title>
 <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">

 <style>
.section { text-align: center; font: 30px "Microsoft Yahei"; color: #fff;}
.header{
 padding-right: 100px;
 padding-top: 30px;
 font-size: 18px; 
 position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.header a {
    font-size: 12px;
    font-weight: bold;
}
</style>
</head>

<body>
<div class="row header  ">
  <div class="right pull-right">
    <ul class="inline pull-right">
	  <if condition="$login_user">
	    <li ><a href="{:U('Home/Item/index')}">{$Think.lang.my_item}</a></li>
	    <else />
	    <li ><a href="{:U('Home/User/login')}">{$Think.lang.index_login_or_register}</a></li>
	  </if>
    </ul>
    </div>  
  </div>

 <include file="Common/footer" />
</body>
</html>
